<a href="https://colab.research.google.com/github/motiram944/machine-learning/blob/Main/Copy_of_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
from google.colab import files
uploaded = files.upload()

import io
df = pd.read_csv(io.BytesIO(uploaded['titanic.csv']))
print(df)

Saving titanic.csv to titanic (3).csv
     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [ ]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [ ]:
#inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [ ]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [ ]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

**I am dropping male column as well because of dummy variable trap theory. One column is enough to repressent male vs female**

In [ ]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [ ]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [ ]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [ ]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [ ]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
model.score(X_test,y_test)

0.7686567164179104

In [ ]:
X_test[0:10]

     Pclass        Age      Fare  female
507       1  29.699118   26.5500       0
138       3  16.000000    9.2167       0
760       3  29.699118   14.5000       0
848       2  28.000000   33.0000       0
195       1  58.000000  146.5208       1
71        3  16.000000   46.9000       1
326       3  61.000000    6.2375       0
518       2  36.000000   26.0000       1
533       3  29.699118   22.3583       1
680       3  29.699118    8.1375       1

In [ ]:
y_test[0:10]

507    1
138    0
760    0
848    0
195    1
71     0
326    0
518    1
533    1
680    0
Name: Survived, dtype: int64

In [ ]:
model.predict(X_test[0:10])

array([0, 0, 0, 0, 1, 1, 0, 1, 1, 1])

In [ ]:
model.predict_proba(X_test[:10])

array([[8.16697512e-01, 1.83302488e-01],
       [9.61500552e-01, 3.84994477e-02],
       [9.69298976e-01, 3.07010241e-02],
       [9.29959276e-01, 7.00407238e-02],
       [3.43123317e-05, 9.99965688e-01],
       [2.64995676e-01, 7.35004324e-01],
       [9.66108049e-01, 3.38919506e-02],
       [2.47919134e-01, 7.52080866e-01],
       [4.00581046e-01, 5.99418954e-01],
       [3.94618189e-01, 6.05381811e-01]])

**Calculate the score using cross validation**

In [ ]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.816     , 0.744     , 0.792     , 0.77419355, 0.7983871 ])